.list-ul1{}
.list-ul1 li{margin: 8px 0;}
.list-ul1 .li1{
    width: 100px;
    height: 50px;
    border: 1px black solid;
}
.list-ul1 .li2{font-size: 30px;
font-weight: 800;
}

// .address{width: 200px;height: 200px;}


.list-ul2 {}
.list-ul2 .li5{
    font-size: 30px;
    font-weight: 800;
}

button{width: 100px;height:30px; margin: 15px 0;background-image: linear-gradient(#f6db9b,#f0c24d ) ; border: none; outline: none;}
button:hover{background: #f0c24d;}