
body{background: #ebebeb;}
#car-nav{height: 30px;line-height: 30px;background:rgb(255, 253, 253) ; }
#car-nav li{font-size: 12px; float: left; margin-right: 10px;}
#car-nav li,a{
    color: #333333;
&:hover{
    color:#e47923; text-decoration: underline;
}
}
#shop-car-show{  background: white;}
#shop-car-show .shop-car-show-title{
    float: left;
    width: 900px;
    border-top:1px transparent solid;border-image:linear-gradient(to right,white, gray,white) 1 10 ;
}
#shop-car-show .shop-car-show-title .show-shop{display: flex; justify-content: space-between; padding-top: 20px;
    border-bottom:1px transparent solid;border-image:linear-gradient(to right,white, gray,white) 1 10 ;}
#shop-car-show .shop-car-show-title .show-shop li{font-size: 14px;}
#shop-car-show .shop-car-show-title .show-shop li h2:nth-of-type(1){
font-weight: 800;font-size: 20px;
}
// .shop-car-show-main{width: 100%;} 
.shop-car-show-main{width: 900px; border-bottom:1px transparent solid;border-image:linear-gradient(to right,white, gray,white) 1 10 ;}
.shop-car-show-main>div{float: left;}
.shop-car-show-main>.shop-pic{width: 120px;height: 100px;}
.shop-car-show-main>.shop-pic>img{display: block;width: 100%;}
.shop-car-show-main>.shop-price{width: 130px;}
.shop-car-show-main>.shop-text{width: 450px;}
.shop-car-show-main>.shop-num{float: right;}
.shop-car-show-main>.shop-num>button{width: 20px;}
#shop-car-show .shop-car-pay{
    width: 300px;
    float: right;
    text-align: center;
    padding-left: 40px;
    box-sizing: border-box;
    
    
}
#shop-car-show .shop-car-pay .pay-btn{ width: 220px;height: 80px; background:#f5f5f5 ;border: #ebebeb 1px solid; padding-top: 10px ; box-sizing: border-box;border-radius: 5px;}
#shop-car-show .shop-car-pay .pay-btn .pay{margin-top: 5px;height: 28px;width: 180px;background-image: linear-gradient(#f6db9b,#f0c24d);border: none; outline: none;border-radius: 5px;}

#shop-car-show .shop-car-pay .pay-btn .pay:hover{background: #f0c24d;}

.shop-amount{text-align: right;width: 900px; border-bottom:1px transparent solid;border-image:linear-gradient(to right,white, rgb(114, 113, 113),white) 1 10 ;}